/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tahoma", sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  direction: rtl;
}

/* Header Styles */
header {
  background-color: #004080;
  color: white;
  padding: 1rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .brand h1 {
  font-size: 1.5rem;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-left: 1.5rem;
}

header ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

header ul li a:hover {
  color: #ffdd57;
}

.nav-toggler {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

header.active ul {
  display: block;
}

/* Search Bar Styles */
.search-bar-container {
  position: relative;
  width: 250px;
  margin: 20px auto;
}

#search-input {
  width: 100%;
  padding: 5px 35px 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: right;
  direction: rtl;
}

#search-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #5d5f5f;
  cursor: pointer;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}

.search-results-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.search-results-item:hover {
  background-color: #f0f0f0;
}

.search-results-item.active {
  background-color: #4caf50;
  color: #fff;
}

/* Section Styles */
.section {
  padding: 2rem;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section p {
  font-size: 1.2rem;
  color: #555;
}

/* Pedigree Section */
.pedigree-section {
  background-color: #f0f8ff;
  /* Reduced padding */
}

/* Node and Link Styling */
.node rect {
  fill: #6c757d;
  cursor: pointer;
  stroke: #333;
  stroke-width: 0.5px;
  rx: 8px;
}

.node text {
  font-size: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  fill: #fff;
  font-weight: 600;
  text-anchor: middle;
  dy: 14px;
  transition: all 0.3s ease-in-out;
}

.node:hover text {
  fill: #007bff;
  transform: scale(1.1);
}

.node:hover rect {
  fill: #007bff;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.chart-container {
  width: 100%; /* or any specific value, like 1200px */
  height: 800px; /* Increase height to visualize more content */
  overflow-y: auto; /* Keeps vertical scrolling enabled */
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  position: relative;
  padding-bottom: 0.5rem;
  padding-top: 5rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

/* Contact Form Styles */
#contact-form {
  width: 50%;
  margin: 0 auto;
}

.form-grid {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.input-container {
  flex: 1;
  text-align: right;
}

.input-container label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-wrapper {
  position: relative;
}

.input-wrapper .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
  color: #777;
}

.input-wrapper input,
.input-wrapper textarea {
  width: 100%;
  padding: 10px 10px 10px 35px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: right;
}

.input-wrapper textarea {
  height: 100px;
  resize: vertical;
}

.input-wrapper input::placeholder,
.input-wrapper textarea::placeholder {
  color: #aaa;
  font-size: 0.9rem;
}

.button-container {
  text-align: center;
  margin-top: 1.5rem;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.submit-btn:hover {
  background-color: #45a049;
}

.submit-btn .send-icon {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #004080;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-toggler {
    display: block;
  }

  header ul {
    flex-direction: column;
    display: none;
  }

  header ul li {
    margin: 1rem 0;
  }
}
